/* Study Tracker's Styling, version 1.3, Kim Pham */
/* Styles main and timer pages */

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
	height:100%;
    overflow-x: hidden;
	overflow-y: hidden;
	min-width: 650px;
}

body { 
	color:#486381;
	font-family: Arial;
	font-size: 1.25em;
}

button{
	cursor:pointer;
}

button:focus {outline:0;}

.header {
	font-family: Calibri light;
	overflow: hidden;
	background-color: #729dcb;
}

.header a {
	float: left;
	color: white;
	font-size:1em;
	text-align: center;
	text-decoration: none;
	line-height: 0px;
	padding: 0.8em;
	border-radius: 0.3em;
	margin-right:0.2em;
	margin-top: 1.2em;
	cursor:default;
}

.header a.logo {
	font-family: Calibri;
	font-size: 1em;
	margin-left: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
	cursor:pointer;
}

.header a.menu:hover {
	transition:0.3;
	background-color: #578ac1;
	cursor:pointer;
}

.header-right {
	float: right;
}

.main_left{
	width: 58%;
	height: 86%;
	float:left;
	padding-left:3em;
}

.subject_list {
	width: 100%;
	max-height: 67%;
	overflow: auto;
	overflow-x: hidden;
}

h1 {
	color:#486381;
	font-family: Sans-serif;
	font-weight: normal;
	font-size: 2em;
	margin: 0.75em 0em 0.3em 0em;
	display: inline-block;
}

.info {
	width: 17.5%;
	font-size: 0.6em;
	margin-left: 0.8em;
	line-height: 1.3;
	display: inline-block;
}

select {
    width: 100%;
	font-size: 0.5em;
    padding: 0.85em;
    border: 2px #c5cbd3 solid;
    border-radius: 4px;
    background-color: #f1f1f1;
	display: inline-block;
	cursor: pointer;
}

.select_dropdown {
	width: 23%;
	float: right;
	text-align: center;
	line-height: 0px;
	margin-top: 1.7em;
	display: inline-block;
}

.task {
	width: 100%;
	height: 100%;
	color: #647383;
	text-align: left;
	font-size: 1em;
	background-color: #e3e5e8;
	display: block;
	padding: 0.65em 1em 0.65em 1.7em;
	margin: 0.2em 0em;
	transition: 0.5s;
	text-decoration:none;
	border-radius: 0.5em;
}

.task:hover {
	background-color: #c5cbd3;
}

.taskbox {
	width: 100%;
	height: 100%;
}

.time_spent {
	float:right;
	margin-top: 0.6em;
	font-size: 10px;
}

.hidden {
	display: none;
}

.delete {
	width: 100%;
	height: 100%;
	padding: 0.5em 1em 0.5em 0.5em;
	margin-right: 0.5em;
	color: #647383;
	float: none;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
	opacity:0.5;
}

.delete:hover {
    opacity:1;
}

.input_container {
	width: 90%;
	height: 10%;
	margin-top: 2%;
}

.task_input {
	width: 100%;
	height: 100%;
	padding: 1em;
}

.error_message {
	color: #FF6956;
	font-size:0.8em;
}


.main_right {
	width: 42%;
	height: 86%;
	float: right;
}

.datebox {
	width: 100%;
	height: 65%;
	float: right;
	text-align: center;
	display: block;
	margin-top: 3em; /* fallback if browser does not use vw */
	margin-top: 10vh;
}

.datebox #clock {
	color:#486381;
	font-family: Calibri Light;
	font-size: 6.5em;
}

.datebox #date {
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

.datebox .ampm {
	font-size: 0.3em;
	display: inline;
}

.quote {
	font-family: Calibri Light;
	font-style: italic;
	width: 100%;
	height: 10%;
	float: right;
	text-align: center;
	display: block;
	margin-top: 10%;
}

.main {
	position:relative;
	width: 100%;
	height: 100%;
	float:left;
	padding-left:3em;
	padding-right:3em;
}

.title {
	color:#486381;
	font-family: Sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	margin: 0.75em 0em 0.5em 0em;
	display: inline-block;
}

.subject {
	font-style: italic;
	font-size: 1.3em;
}

.timer_box  {
	width: 100%;
	height: 63%;	/* fallback value */
	height: 29vw;
	display: inline-block;
	background-color: #BDCFE3;
	border: 0.2em #486381 solid;
	border-radius: 0.5em;
}

.timer {
	width: 100%;
	height: 77.5%;	/*fallback value*/
	height: 22vw;
	display: inline-block;
	color: #486381;
	background-color: white;
	font-family: Calibri Light;
	font-size: 10.25em;		/*fallback value*/
	font-size:16vw;
	text-align: center;
	line-height: 1; /*fallback value*/
	line-height: 18vw;
	padding: 0.1em;
	border: 0px red solid;
	vertical-align:middle;
	box-sizing: border-box;
}

.timer_done {
	width: 100%;
	height: 77.5%;	/*fallback value*/
	height: 22vw;
	display: inline-block;
	color: #486381;
	background-color: white;
	font-family: Calibri Light;
	font-size: 1.6em;	/*fallback value*/
	font-size:2.5vw;
	text-align: left;
	line-height: 2.3;
	padding: 2em;
	border: 0px red solid;
	vertical-align:middle;
	box-sizing: border-box;
}

.controls {
	font-family: Calibri Light;
	color: white;
	font-size:3vw;
	text-align: center;
	text-decoration: none;
	line-height: 0.3em;	/*fallback value*/
	line-height: 1vw;
	padding: 1.5vw 3vw;
	border-radius: 0.8em;
	margin: 0.4em 0.5em;	/*fallback value*/
	margin: 1vw 1vw;
	float:left;
}
.control_left {
	width: 25%;
	background-color: #58C898;
	margin-left: 9vw;
	margin-right: 20vw;
}
.control_right {
	min-width: 15%;
	background-color: #45587A;
}

.timer_done_controls{
	width: 30%;
	height: 40%;
	float: right;
}
.time_input{
	margin-left: 1.5em;
	padding: 1.5vw 3vw;
}

.italic {
	font-style: italic;
}

.hidden {
	width: 0px;
	height: 0px;
	opacity: 0;
}

@media screen and (max-width: 1165px) {
	.info {
		display: none;
	}
	.select_dropdown {
		width: 30%;
	}
}

@media screen and (max-width: 953px) {
	h1 {
		font-size: 1.5em;
	}
	.select_dropdown {
		margin-top:1em;
	}
	.header a {
		font-size:0.8em;
		margin-top: 1.7em;
	}
	.control_left {
		margin-left: 9vw;
		margin-right: 20vw;
	}
	.datebox #clock {
		font-size:6em;
	}
	.datebox #date {
		font-size:1em;
	}
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 1.5em;
	}
	.header a {
		font-size:0.6em;
		margin-top: 2.5em;
	}
	.header-right {
		float: right;
	}
	.info {
		display: none;
	}
	.select_dropdown {
		display: none;
	}
	.datebox {
		margin-top: 25%;
	}
	.datebox #clock {
		font-size:5em;
	}
	.datebox #date {
		font-size:0.8em;
	}
	.quote {
		font-size:0.8em;
	}
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 1.5em;
	}
	.header a {
		font-size:0.55em;
		margin-top: 2.5em;
	}
	.header-right {
		float: none;
	}
	.main_left {
		width: 90%;
	}
	.select_dropdown {
		margin-top:1em;
	}
	.datebox {
		display: none;
	}
	.quote {
		display: none;
	}
	.info {
		display: none;
	}
	.control_left {
		margin-left: 9vw;
		margin-right: 15vw;
	}
}

